body        {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: "EB Garamond";
}

.container      {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#wrapper       {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}

aside       {
    grid-column: 1 / 2;
    border: 1px solid green;
}

main        {
    grid-column: 2 / 3;
    border: 1px solid orange;
}

.sidebar        {
    background-color: yellowgreen;
}